.node-col
  .angular-ui-tree(style="cursor:pointer;")
    .angular-ui-tree-node.level-1(ng-controller="nodeParentController as ctrl")
      .tree-node-content.form-inline(ng-mouseover="ctrl.nodeTreeFactory.showEditButtons(true, node)"
                                     ng-mouseleave="ctrl.nodeTreeFactory.showEditButtons(false, node)"
                                     ng-click="setActiveNode(node)")
        .edit-name
          modify-field.edit-name(
            field="node.name"
            on-save="patchNode(workArea, node, {'name': newVal})"
            on-blur="ctrl.nodeTreeFactory.showEditButtons(false, node);")

          .add-subitem(ng-show="node.showEditButtons"
                       ng-click="addSubItem(); $event.stopPropagation();")
            | Add subpage
