.show-node-container.col-md-12
  pageslide(ps-open="showEditNode"
            ps-side="bottom"
            ps-class="showNodeSlide"
            ps-size="400px")

    .heading.col-md-12
      .row
        i.fa.toggle-button(ng-click="toggle()"
                           ng-show="node"
                           ng-class="{'fa-angle-double-down': showEditNode,'fa-angle-double-up': !showEditNode}")

        .col-md-4
          span(ng-show="node")
            | {{ node.name }}
          span(ng-hide="node")
            | Select a page
        .col-md-8
          .metric-box.pull-right
            .text
              | Total search volume
            .metric.label.label-success
              | {{ ctrl.nodeHelper.sumSearchVolume(node) }}

    .body-header.col-md-12
      .row.text-center
        h3
          | Keywords for the page #[strong {{ node.name }}]

    .body.col-md-12

      .row
        .col-md-3
          .form-group
            angucomplete-alt(
              id="keyword-field-$index"
              selected-object="addKeywordToNode"
              description="asd"
              placeholder="Enter keyword"
              pause="100"
              local-data="searchKeywords"
              search-fields="keyword"
              title-field="keyword"
              minlength="1"
              input-class="form-control"
              template-url="js/components/workArea/node/showNode/autoComplete.jade")

        .col-md-12
          table.table.table-hover
            tbody
              tr(ng-repeat="k in keywords")
                td
                  | {{ k.keyword }}
                td
                  | {{ k.volume }}
                td
                  | {{ k.type }}
                td
                  i.fa.fa-remove(ng-click="removeKeyword($index)")

